:root {
    --color-base: #222;
    --color-mute: #666;
    --color-highlight: #366472;
    --color-highlight-pale: #f0f8ff;
    --color-alt: #723a36;
    --color-alt-pale: #fff6f0;
    --color-border: #ddd;
    --base-size: 8px;
    --container-width: calc(var(--base-size) * 150); /* 1200px */
}

*, input, select, button {
    box-sizing: border-box;

    padding: 0;
    margin: 0;
}

body {
    font-family: 'PT Sans', sans-serif;
    font-size: calc(var(--base-font-size) * 2); /* 16px */
    
    color: var(--color-base);
}

header {
    margin: 0 auto;

    width: var(--container-width);
}

header > img {
    display: block;
    margin: 0 auto;
}

a {
    color: var(--color-highlight);
}

.container {
    display: flex;
    flex-direction: row;

    width: var(--container-width);
    margin: 0 auto;
}

.side {
    display: flex;

    flex-direction: column;
    flex-shrink: 0;

    justify-content: space-between;

    width: calc(var(--base-size) * 30);

    padding: calc(var(--base-size) * 2);
    
    border-right: 1px solid var(--color-mute);
}

.content {
    flex-grow: 1;

    padding: 2em 4rem;
}

.menu {
    list-style: none;

    padding: 0.5rem;

    font-family: 'PT Sans Narrow', sans-serif;
}

.menu > li {
    padding-bottom: 1rem;
}

.menu a {
    font-size: 1.3rem;
}

.copyright {
    display: inline-block;

    margin-bottom: .8rem;

    font-size: .8rem;
}

.footer-link {
    margin-right: 1rem;
    text-decoration: none;
    font-size: 2rem;
    word-spacing: 0;
}

.fact {
    margin-bottom: 2rem;
    padding: 1rem 1rem 1rem 2rem;

    border: 1px solid var(--color-border);
    border-radius: .2rem;

    background-color: var(--color-highlight-pale);

    color: var(--color-highlight);

    font-family: 'PT Sans Caption', sans-serif;
}

.fact::before {
    display: block;
    content: 'Интересный факт:';

    padding-bottom: .8rem;

    font-size: .8rem;
}

.link {
    position: relative;
    display: flex;

    flex-direction: column;
    justify-content: flex-end;

    width: calc(var(--base-size) * 25);
    height: calc(var(--base-size) * 25);

    margin-bottom: 2.5em;

    border-radius: .3rem;

    overflow: hidden;

    box-shadow: none;

    transition: box-shadow 300ms;
}

.link:hover {
    box-shadow: 0 3px 15px -8px #0000007a;
}

.link > img {
    position: absolute;
    float: none !important;
    margin: 0 !important;

    top: 0;
    left: 0;

    width: 100% !important;
    height: 100% !important;

    object-fit: cover;

    z-index: -1;
}

.link.link--contain > img {
    object-fit: contain;
}

.link > span {
    display: inline-block;

    padding: .5rem;

    background-color: var(--color-highlight-pale);

    text-align: center;

    opacity: 0;

    transform: translateY(20%);

    transition: opacity 300ms, transform 300ms;
}

.link:hover > span {
    opacity: 1;

    transform: translateY(0);
}

.links {
    display: flex;

    flex-direction: row;
    flex-wrap: wrap;

    justify-content: space-around;
}

.form {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.calc-input {
    margin-right: 1em;
}

.calc-input > label {
    display: block;

    margin-bottom: .4rem;

    font-size: .8rem;
}

.calc-input > input,
.calc-input > select,
.form > button {
    height: calc(var(--base-size) * 4);
    width: calc(var(--base-size) * 10);
}

.calc-input > input {
    padding: 0 1em;
}

.form > button {
    border-radius: .3em;
}

.modal {
    position: fixed;

    display: none;
    justify-content: center;
    align-items: center;

    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background: #00000048;
}

.modal.modal--show {
    display: flex;
}

.calc {
    background-color: #fff;

    border: 1px solid var(--color-border);
    border-radius: .2rem;

    overflow: hidden;
}

.calc > .form {
    padding: 1rem 2rem;

    border-bottom: 1px solid var(--color-border);
}

.calc > header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    width: auto;
    padding: 1rem 2rem;

    border-bottom: 1px solid var(--color-border);
}

.calc > header > .modal-close {
    border: none;
    background: none;

    color: var(--color-highlight);
}

.calc > footer {
    display: flex;

    align-items: center;

    height: 3rem;
    padding: 0 2rem;
}

.actions {
    margin-bottom: 2rem;
}

.show-calc {
    width: 100%;

    padding: .8em .4em;

    font-size: 1.1rem;

    color: var(--color-alt);
    
    background-color: var(--color-alt-pale);

    border: 1px solid var(--color-border);
    border-radius: .2em;

    text-align: center;
}

.content img {
    float: left;

    width: calc(var(--base-size) * 25);

    margin-right: 2em;
    margin-bottom: 2em;
}

.content h1,
.content h2,
.content h3,
.content h4 {
    display: block;

    width: 100%;

    margin-bottom: 1em;

    clear: both;
}

.content h1 {
    font-size: 2rem;
}

.content h2 {
    font-size: 1.5rem;
}

.content h3 {
    font-size: 1rem;
}

.content table {
    margin-bottom: 1rem;
}

.content p {
    padding-bottom: .5em;
}