<div class="modal" id="modal">
    <div class="calc" id="calc">
        <header>
            <button id="calcClose" class="modal-close">
                Закрыть
            </button>
        </header>
        <div class="form">
            <div class="calc-input">
                <label for="sex">Пол</label>
                <select id="sex">
                    <option value="m">Мужской</option>
                    <option value="f">Женский</option>
                </select>
            </div>
            <div class="calc-input">
                <label for="calcYears">Лет</label>
                <input type="text" class="calcAgeInput" id="calcYears">
            </div>
            <div class="calc-input">
                <label for="calcMonths">Месяцев</label>
                <input type="text" class="calcAgeInput" id="calcMonths">
            </div>
            <button id="calculate">Рассчитать</button>
        </div>
        <footer>
            <div id="calcResult"></div>
        </div>
    </div>
</div>
